@import 'base';

body{
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  min-height: 100vh;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $primary-dark-color;
  font-family: $font-stack;
  font-weight: 600;
}

.flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.items-center{
  align-items: center;
}